<?xml version="1.0" encoding="UTF-8" standalone="no"?><suite allow-return-values="false" configfailurepolicy="skip" data-provider-thread-count="10" group-by-instances="false" guice-stage="DEVELOPMENT" junit="false" name="casos DMuni" parallel="false" preserve-order="true" skipfailedinvocationcounts="false" thread-count="5" verbose="1">
  <parameter name="userRetrieveAndRank" value="54a9c7bf-35b4-4fce-883c-a3fcec76766c"/>
  <parameter name="passwordRetrieveAndRank" value="TEd3SxPfJIhg"/>
  <parameter name="clusterId" value="sc8c9e54f8_07a5_4944_887d_612ab2b50749"/>
  <parameter name="collectionName" value="InformacionGeneral"/>
  <parameter name="rankerId" value="1eec7cx29-rank-1815"/>
 
  <test allow-return-values="false" group-by-instances="false" junit="false" name="Regresion" preserve-order="true" skipfailedinvocationcounts="false">
    <classes>
      <class name="com.ncubo.regresion.RegresionTest"/>
    </classes>
  </test>
</suite>